.basicInfo {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
}

.listOfPosts {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column-reverse;
	width: 100%;

	.post {
		width: 50%;
	}
}

h3 {
	padding: 20px;
}
