@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
	font-family: 'Bebas Neue', cursive;
}

.App {
	width: 100vw;
	height: auto;
}

body {
	margin: 0;
	padding: 0;
	background-color: $couleur_secondaire;
}

.flex_center {
	display: flex;
	align-items: center;
	justify-content: center;
}
