.App {
	width: 100vw;
	height: auto;
}

body {
	margin: 0;
	padding: 0;
}

.posts {
	display: flex;
	align-items: center;
	flex-direction: column-reverse;
	text-align: center;
}

.post {
	width: 400px;
	height: 300px;
	display: flex;
	flex-direction: column;
	margin-top: 50px;
	border: 1px solid lightgray;
	font-family: Arial, Helvetica, sans-serif;
	border-radius: 10px 10px 0px 0px;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.post:hover {
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	cursor: pointer;
}
.post .title {
	border-radius: 10px 10px 0px 0px;
	flex: 20%;
	border-bottom: 1px solid lightgray;
	background-color: dodgerblue;
	display: grid;
	place-content: center;
	color: white;
	font-size: 25px;
}

.post .body {
	flex: 60%;
	display: grid;
	place-content: center;
	font-size: 25px;
	font-style: italic;
	text-align: center;
}

.body img {
	width: 300px;
	height: 150px;
}

.footer {
	flex: 20%;
	border-top: 1px solid lightgray;
	display: flex;
	align-items: center;
	padding-left: 15px;
	background-color: dodgerblue;
	color: white;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	height: 50px;
	margin-bottom: 40px;
}

.namePost {
	background: white;
	height: 40px;
	width: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	color: black;
	cursor: pointer;
	font-size: 17px;
}

.namePost:hover {
	color: white;
	background-color: dodgerblue;
	border: 2px solid white;
}

.footer p {
	font-size: 20px;
	margin-right: 10px;
}

/***** CREATE POST PAGE CSS ******/

.createPostPage {
	font-family: Arial, Helvetica, sans-serif;
	width: 100vw;
	height: 70vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.formContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 650px;
	height: auto;
	padding: 20px;
	border: 5px solid dodgerblue;
	border-radius: 5px;
}

.formContainer label {
	font-size: 20px;
}

.formContainer .inputText {
	height: 40px;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 2px solid grey;
	border-radius: 5px;
	padding-left: 10px;
	font-size: 20px;
}

.formContainer button {
	margin-top: 15px;
	height: 40px;
	border: none;
	background-color: lightskyblue;
	border-radius: 5px;
	color: white;
	font-size: 15px;
}

.formContainer button:hover {
	cursor: pointer;
	background-color: dodgerblue;
}

.inputTextPost {
	height: 100px;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 2px solid grey;
	border-radius: 5px;
	padding-left: 10px;
	font-size: 20px;
}

span {
	color: red;
	font-weight: bold;
}

.containerImageUpload span {
	color: grey;
}

.containerImageUpload {
	display: flex;

	align-items: center;
}

.containerImageUpload input[type='file'] {
	display: none;
}

.containerImageUpload #customButton {
	display: flex;
	align-items: center;
	justify-content: center;
}

#customButton p {
	margin-right: 5px;
}

#customButton span {
	color: white;
}

/* NAVBAR */

.navbar {
	width: 100%;
	height: 70px;
	background-color: dodgerblue;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
	margin: 0px 10px 0px 10px;
	text-decoration: none;
	color: white;
	font-size: 20px;
}

.navbar a:hover {
	border-bottom: 3px solid white;
}

.navbar button {
	width: 150px;
	text-decoration: 40px;
	cursor: pointer;
	font-size: 18px;
}

.navbar button:hover {
	color: red;
}

.navbar h1 {
	color: white;
	padding: 10px;
	font-size: 20px;
}

.navbarRight {
	display: flex;
	justify-content: center;
	align-items: center;
}

.navbarRight .gearIcon {
	font-size: 25px;
	color: black;
}

.navbarRight a:hover {
	border-bottom: none;
}

.navbarRight .gearIcon:hover {
	color: white;
	cursor: pointer;
	font-size: 26px;
}

/* INDIVIDUAL POST */
.postPage {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
}

.leftSide {
	flex: 50%;
	height: calc(100vh - 70px);
	display: grid;
	place-items: center;
}

.rightSide {
	flex: 50%;
	height: calc(100vh - 70px);
	display: grid;
	place-items: center;
	display: flex;
	flex-direction: column;
}

.rightSide .addCommentContainer {
	flex: 20%;
	width: 100%;
	display: grid;
	place-items: center;
	margin-top: 25px;
}

.addCommentContainer input,
button {
	width: 200px;
	height: 50px;
	border-radius: 8px;
	border: none;
	cursor: pointer;
}

.addCommentContainer button {
	background-color: dodgerblue;
	color: white;
}

.addCommentContainer input {
	border: 2px solid dodgerblue;
	margin-bottom: 10px;
}

.rightSide .listOfComments {
	flex: 80%;
	width: 100%;
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	margin-top: 20px;
}

.listOfComments .comment {
	width: 70%;
	height: auto;
	padding: 30px;
	border: 2px solid dodgerblue;
	border-radius: 5px;
	margin: 20px 0px 20px 0px;
}

#individual {
	height: 500px;
	width: 600px;
}

#individual .title,
#individual .footer {
	font-size: 30px;
}

#individual .body {
	font-size: 25px;
}

.textComment {
	font-size: 20px;
	text-align: center;
}

.deleteBtn span {
	color: red;
	font-size: 15px;
}

.deleteBtn:hover > span {
	color: white;
}

.deleteBtn:hover {
	background-color: red;
}

.postPage .footer {
	display: flex;
	justify-content: space-between;
}

.footer button {
	color: red;
}

.footer button:hover {
	background-color: red;
	color: white;
}

/* LOGIN AND REGISTER */

.loginContainer {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 100vh;
	padding-top: 100px;
}

.loginContainer input,
button {
	width: 200px;
	height: 50px;
	border-radius: 8px;
	border: none;
	margin: 10px;
}

.loginContainer button {
	background-color: dodgerblue;
	color: white;
}

.loginContainer input {
	border: 2px solid dodgerblue;
	font-size: 20px;
}

.loginContainer input[type='text'] {
	font-family: monospace;
	font-size: 20px;
}

.formCreateUserContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 500px;
	height: auto;
	padding: 20px;
	border: 5px solid dodgerblue;
	border-radius: 5px;
}

.formCreateUserContainer input {
	height: 30px;
}

.registrationContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
/* PROFIL PAGE */

.basicInfo {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.listOfPosts {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column-reverse;
}

/* PARAMETERS */

.headerParams {
	display: flex;
	justify-content: center;
	align-items: center;
}

.headerParams .gearIcon {
	font-size: 30px;
	margin: 10px;
}

.parametersPage body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.deleteAccountButton {
	height: 50px;
	width: 200px;
}

.deleteAccountButton:hover {
	background-color: red;
	color: white;
}

.deleteQuestion {
	background-color: red;
	width: 300px;
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 15px;
}

.deleteQuestion p {
	color: white;
	font-weight: bold;
	text-align: center;
}

.YesOrNo {
	display: flex;
	justify-content: space-between;
}
.YesOrNo .yes {
	font-weight: bold;
	width: 100px;
	height: 50px;
}

.YesOrNo .no {
	font-weight: bold;
	width: 100px;
	height: 50px;
}

.YesOrNo .yes:hover {
	color: white;
	background-color: red;
}

.YesOrNo .no:hover {
	background-color: green;
	color: white;
}
