.posts {
	display: flex;
	align-items: center;
	flex-direction: column-reverse;
	text-align: center;
	width: 100%;
	height: 100%;
	.postsContainer {
		width: 100%;
		height: 100%;
		@include flex-centre-colonne;
	}
}

.parameters {
	width: auto;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	position: absolute;
	right: 0;
	bottom: 65px;
}

.post {
	width: 60%;
	height: auto;
	min-height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 50px;
	border: 1px solid lightgray;
	font-family: Arial, Helvetica, sans-serif;
	border-radius: 10px 10px 0px 0px;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	position: relative;

	.title {
		border-radius: 10px 10px 0px 0px;
		height: 50px;
		border-bottom: 1px solid lightgray;
		background-color: $couleur_primaire;
		display: grid;
		place-content: center;
		color: white;
		font-size: 25px;
	}

	.body {
		@include flex-centre-colonne;
		font-size: 25px;
		min-height: 200px;
		width: 100%;
		font-style: italic;
		text-align: center;

		.postText {
			padding: 15px;
		}
		img {
			width: 80%;
			height: auto;
			max-width: 600px;
			min-width: 180px;
			margin-bottom: 15px;
			border-radius: 15px;
			border: 1px solid grey;
		}
	}
}

.post:hover {
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	cursor: pointer;
}

.footer {
	height: 60px;
	border-top: 1px solid lightgray;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 15px;
	background-color: $couleur_primaire;
	color: white;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;

	.namePost {
		background: white;
		height: 40px;
		width: auto;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 10px;
		color: black;
		cursor: pointer;
		font-size: 17px;
		text-decoration: none;
		text-align: center;
		padding: 3px;
		margin: 5px;
	}

	p {
		font-size: 20px;
	}

	.namePost:hover {
		color: white;
		background-color: $couleur_primaire;
		border: 2px solid white;
	}

	.postBy {
		@include flex-centre;
	}

	.likePost {
		font-size: 30px;
		margin: 10px;
		color: white;
		opacity: 20%;
	}
	.comments {
		font-size: 30px;
		margin: 10px;
		color: white;
	}

	.unlikePost {
		font-size: 30px;
		margin: 10px;
		color: white;
	}

	.comments {
		font-size: 30px;
		margin: 10px;
		color: white;
	}

	.unlikePost:hover,
	.likePost:hover {
		font-size: 35px;
	}

	label {
		font-size: 20px;
	}

	.likes {
		@include flex-centre;
		padding: 0px 20px 0px 20px;
	}

	.params {
		color: white;
		font-size: 40px;
	}
}

@media all and (max-width: 1100px) {
	.footer {
		p {
			font-size: 15px;
		}

		.namePost {
			width: auto;
		}

		.postByText {
			display: none;
		}
	}

	.post {
		width: 80%;
	}
}
